#popular-cards-section {
  margin-top: 20px;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
  justify-content: flex-start;
}
#popular-cards-section img {
  width: 140px;
  height: 196px;
}
